<div class="horizontal">
<span> <input type="button" name="more" value="prev" (click)="changeList(false)"></span>
<div >

    <div *ngFor="let user of listUsers;"> 
<ul>
    	<li  *ngFor="let u of user; let i = index" class="user"> 
    		<a href="#" (click)="getUser(u.login)">  {{u.login}}  </a>  
    	</li>
</ul>
    </div>

</div >
<span> <input type="button" name="more" value="more" (click)="changeList(true)"></span>








	<div >
<p *ngIf="userDescription == null">
  Loading user data...
</p>
<div *ngIf="userDescription != null" style="display: flex; flex-direction: column;">
  <div>
    <img width="300" [src]="userDescription.avatar_url">
  </div>
  <b>{{ userDescription.login }}</b>
</div>
</div >

</div>